.welcomeMsg {
  padding: 10px;
}
.textStyles {
  font-family: serif;
}
.construction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.constructionBar {
  overflow: hidden;
  width: 50%;
  height: 50px !important;
}
