<head></head>
<body>
  <div class="aboutMe">
    <div class="title">
      <h1>A little bit about me</h1>
    </div>
    <div class="paragraphInfo">
      <p>
        My dream is to develop an automated system for people to assist them in
        their daily lives. <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
        <br />
        I love programming <br />
      </p>
    </div>
  </div>
</body>
