<head></head>
<body>
  <div class="aboutMe">
    <div class="title">
      <h1>A little bit about me</h1>
    </div>
    <div class="paragraphInfo">
      <pre>
        My dream is to develop an automated system for people to assist them in
        their daily lives.
        I was always interested in computers and when i was first introduced to
        programming in secondary school, it became my favorite thing, closely followed by Maths.
        
        Up to this point in my life, I have worked on a few projects 
        and worked as an Associate Professional in the University of the West Indies.

      </pre>
    </div>
  </div>
</body>
