<body>
  <h1 class="title">My Skills</h1>
  <div class="skills-container" id="skills">
    <table class="skills-Table">
      <thead class="skills-TableHeader">
        <tr>
          <th class="skills-TableHeader-Skill">Skill</th>
          <th class="skills-TableHeader-Level">Level</th>
        </tr>
      </thead>
      <tbody class="skill-TableBody">
        <tr class="skills-tableRow" *ngFor="let skill of mySkills">
          <td class="skills-tableData">{{ skill.skillName }}</td>
          <td class="skills-tableData">{{ skill.skillLevel }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
