<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  >
    <mat-toolbar style="background-color: #03074a">More</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/personal-info" routerLinkActive="active">
        Personal Info
      </a>
      <a mat-list-item href="#">Skills</a>
      <a mat-list-item href="#">Projects</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-navBar" color="primary">
      <button
        class="menu-button"
        mat-icon-button
        *ngIf="drawer.mode === 'over'"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        {{ page_name }}
      </span>
    </mat-toolbar>
    <mat-toolbar
      class="mat-subBar"
      style="background-color: #03074a"
      *ngIf="drawer.mode === 'side'"
    >
      <span>
        <mat-nav-list class="navBar-text">
          <a
            class="navbar-link"
            routerLink="/personal-info"
            routerLinkActive="active"
          >
            Personal Info
          </a>
          <a class="navbar-link" href="#">Skills</a>
          <a class="navbar-link" href="#">Projects</a>
        </mat-nav-list>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <footer>Developed using Angular</footer>
  </mat-sidenav-content>
  <mat-sidenav-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
