.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-subBar {
  position: sticky;
}

.navBar-text {
  margin-top: 0px;
}
.navbar-link {
  flex: auto;
  padding-left: 5%;
}

footer {
  font-style: italic;
  text-align: center;
}
