.sidenav-container {
  height: 100%;
  background: url(\src\res\Website_Background.png);
}

.sidenav {
  width: 200px;
  background: url(\src\res\Website_Background.png);
}

.sidenav.mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-subBar {
  position: sticky;
  background-color: #16505b;
  color: #fff;
}

.navBar-text {
  margin-top: 0px;
}
.navbar-link {
  flex: auto;
  padding-left: 5%;
}

footer {
  font-style: italic;
  text-align: center;
  color: white;
  text-anchor: end;
}

.clickable {
  cursor: pointer;
}
