<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  >
    <mat-toolbar color="primary"> More </mat-toolbar>
    <mat-nav-list class="navList" color="primary">
      <a
        mat-list-item
        routerLink="/personal-info"
        routerLinkActive="active"
        style="color: white"
      >
        Personal Info
      </a>
      <a mat-list-item href="#" style="color: white">Skills</a>
      <a mat-list-item href="#" style="color: white">Projects</a>
      <a mat-list-item href="#" style="color: white">Contact Me</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-navBar" color="primary">
      <button
        class="menu-button"
        mat-icon-button
        *ngIf="drawer.mode === 'over'"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        {{ page_name }}
      </span>
    </mat-toolbar>
    <mat-toolbar class="mat-subBar" *ngIf="drawer.mode === 'side'">
      <span>
        <mat-nav-list class="navBar-text">
          <a
            class="navbar-link"
            routerLink="/personal-info"
            routerLinkActive="active"
          >
            Personal Info
          </a>
          <a class="navbar-link" href="#">Skills</a>
          <a class="navbar-link" href="#">Projects</a>
          <a class="navbar-link" href="#">Contact Me</a>
        </mat-nav-list>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <footer>Developed using Angular</footer>
  </mat-sidenav-content>
  <mat-sidenav-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
