<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  >
    <mat-toolbar color="primary"> More </mat-toolbar>
    <mat-nav-list class="navList" color="primary">
      <a
        mat-list-item
        routerLink="/personal-info"
        routerLinkActive="active"
        style="color: white"
        (click)="drawer.toggle()"
      >
        Personal Info
      </a>
      <a
        mat-list-item
        routerLink="/skills"
        routerLinkActive="active"
        style="color: white"
        (click)="drawer.toggle()"
      >
        Skills
      </a>
      <a
        mat-list-item
        routerLink="/projects"
        routerLinkActive="active"
        style="color: white"
        (click)="drawer.toggle()"
      >
        Projects
      </a>
      <a
        mat-list-item
        routerLink="/contactMe"
        routerLinkActive="active"
        style="color: white"
        (click)="drawer.toggle()"
      >
        Contact Me
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-navBar" color="primary">
      <button class="menu-button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        {{ page_name }}
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <footer>Developed using Angular</footer>
  </mat-sidenav-content>
</mat-sidenav-container>
